{% extends "transtech/layout.html" %}
{% load static %}
{% block scripts %}
<script src="{% static 'transtech/acc-scripts.js'%}"></script>
{% endblock %}
{% block page %}
<div class="container-fluid p-1">
    <div class="row justify-content-left">
        <div class="col">
            <div class="row p-1">
                <div class="col-lg-2 align-self-start">
                    <h4>Personal</h4>
                </div>
                <div class="col-auto">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Email:</th>
                                <td>
                                    <span id="current-email">{{user.email}}</span>
                                    <input type="text" name="email" class="form-control" id="new-email"
                                        value="{{user.email}}">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Name:</th>
                                <td>
                                    <span id="current-name">{{user.first_name}}</span>
                                    <input type="text" name="first_name" class="form-control" id="new-name"
                                        value="{{user.first_name}}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-auto"><button class="btn btn-primary btn-sm edit-btn">Edit</button></div>
            </div>
            <div class="row p-1">
                <div class="col-lg-2 align-self-start">
                    <h4>Professional</h4>
                </div>
                <div class="col-auto">

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Position:</th>
                                <td>
                                    {% if request.user.is_staff %}Admin{% else %}{{request.user.groups.all.0.name}}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Status:</th>
                                <td>
                                    {% if user.is_active %}Active{% else %}Locked out{% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-lg-2 align-self-start">
                    <h4>Languages</h4>
                </div>
                <div class="col-auto">

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Primary:</th>
                                <td>
                                    <span>{{primary_list|join:", "}}</span>
                                    <select class="form-select lang-update" name="primary" multiple>
                                        {% for lang in languages %}
                                        <option value="{{lang.code}}"
                                            {% if lang.name in primary_list %}selected{% endif %}>{{lang.name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Secondary:</th>
                                <td>
                                    <span>{{secondary_list|join:", "}}</span>
                                    <select class="form-select lang-update" name="secondary" multiple>
                                        {% for lang in languages %}
                                        <option value="{{lang.code}}"
                                            {% if lang.name in secondary_list %}selected{% endif %}>{{lang.name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-auto"><button class="btn btn-primary btn-sm edit-btn">Edit</button></div>
            </div>

            <div class="row p-1">
                <div class="col-lg-2 align-self-start">
                    <h4>Financial</h4>
                    <p>Payments are made each Thursday</p>
                </div>
                <div class="col-auto">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Next weekly payment:</th>
                                <td>
                                    ${{weekly|stringformat:".2f"}}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">This financial year:</th>
                                <td>
                                    ${{FY|stringformat:".2f"}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-1">
    <div class="row p-1">
        <h4>Weekly Accuracy</h4>
    </div>
    <div class="row p-1">
        <div class="col-auto">
            <p>{{num_flagged}} out of {{num_audits}} audited items were flagged.</p>
            <p>This gives and accuracy rate of {{accuracy | stringformat:".2d"}}%</p>
            {% if accuracy >= 75 %}
            <p>Well done!</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid p-1">
    <div class="row p-1">
        <h4>Work log</h4>
    </div>
    <div class="row p-1">
        <div class="col-auto">
            <table class="table table-striped table-bordered text-center">
                <thead class=table-primary>
                    <th scope="col">Date/Time</th>
                    <th scope="col">Content ID</th>
                    <th scope="col">Language</th>
                    <th scope="col">Work Type</th>
                    <th scope="col">Price</th>
                </thead>
                <tbody>
                    {% for item in work_log %}
                    <tr>
                        <td>
                            {{item.done}}
                        </td>
                        <td>
                            {{item.content.content_id.pk}}
                        </td>
                        <td>
                            {{item.content.language}}
                        </td>
                        <td>
                            {% if item.work_type == "RE" %}Review{% endif %}{% if item.work_type == "AU" %}Audit{% endif %}
                        </td>
                        <td>
                            {% if item.work_type == "RE" %}15c{% endif %}{% if item.work_type == "AU" %}10c{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            Latest 20 items shown. <a href="{% url 'log' %}">Full log</a>
        </div>
    </div>
</div>
{% endblock %}