{% extends "transtech/layout.html" %}
{% load static %}
{% block scripts %}
<script src="{% static 'transtech/msg-scripts.js'%}"></script>
{% endblock %}}
{% block page %}
<div class="container">
    <div class="row p-1">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                    <th scope="col">Sent</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr {% if not message.read %}class="bg-info" {% endif %}>
                    <td><button
                            class="btn btn-link fw-bold {% if message.read %}link-primary{% else %}link-light{% endif %}"
                            data-bs-toggle="modal" data-bs-target="#messageModal"
                            data-id="{{message.pk}}">{{message.subject}}</button></td>
                    <td class="msg-preview">{{message.content|safe}}</td>
                    <td>{{message.sent_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
{% endblock %}