{% extends "transtech/report.html" %}
{% load static %}
{% block scripts %}
<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js"
    integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx"
    crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js"
    integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR"
    crossorigin="anonymous"></script>
<script src="{% static 'transtech/rev-scripts.js'%}"></script>
{% endblock %}
{% block page %}
<div class="container editor mt-3">
    <div class="row original p-2">
        <div class="d-flex justify-content-between">
            <h4>Original</h4>
            <div class="fw-bold">ID: <span id="pk">{{original.content_id.pk}}</span><button
                    class="btn btn-light ms-2 report-btn" data-bs-toggle="modal"
                    data-bs-target="#reportModal">Report</button></div>
        </div>
    </div>
    <div class="row original p-2">
        <div class="col info">
            <h5>Text</h5>
            <p>
                {{original.content}}
            </p>
        </div>
        <div class="col">
            <h5>Expressions</h5>
            <ol class="expressions"></ol>
        </div>
    </div>
    <div class="row version p-2">
        <h4>Translation</h4>
    </div>
    <div class="row version p-2">
        <div class="col">
            <h5>Editor</h5>
            <div class="input textarea" contenteditable>
                {{translation.content}}
            </div>
        </div>
    </div>
    <div class="row version p-2">
        <div class="col">
            <h5>Render</h5>
            <div class="col render"></div>
        </div>

    </div>
    <div class="row version p-2">
        <div class="col">
            <button class="save-btn btn btn-primary w-100">Save</button>
            <a class="skip-btn btn btn-secondary my-1 w-100" href="review">Skip</a>
        </div>
    </div>
</div>
{% endblock %}