.entry {
    font-weight:bold;
}

.katex {
    font-size: 1em;
}
.original {
    background-color: rgb(187, 241, 237);
}

.textarea {
    background-color: white;
    border:1px solid black;
    padding: 5px;
}

.version, .new {
    background-color:rgb(241, 241, 241)
}