body {
    margin: 10px
}

.entry {
    font-weight:bold;
}

.katex {
    font-size: 1em;
}
.original {
    background-color: rgb(187, 241, 237);
}

.textarea {
    background-color: white;
    border:1px solid black;
    padding: 5px;
}

.version, .new {
    background-color:rgb(241, 241, 241)
}

tbody th {
    text-align: right;
}

td {
    white-space: nowrap;
}

.msg-preview {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 0;
}

.urd {
    background-color: rgb(187, 241, 237);
}

.message {
    display: none;
}